body {
	margin: 0px;
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
}

a {
	color: #444444;
	text-decoration: none;
}

a:hover {
	color: #AAAAAA;
}

div#main {
}

div#title {
	background: #8B3A3A;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20pt;
	color: #FFFFFF;
	height:140px;
}

div#sectitle {
	font-size: 14pt;
	margin-bottom: 5px;
}

div#secdesc {
	font-size: 12pt;
}

div.container_odd {
	background: #FFFFFF;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

div.container_even {
	background: #EEEEEE;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

div#container_plot {
}

div#series_chart_div {
	width: 1100px;
	height: 600px;
	margin: auto;
}

div#container_most_retweeted {
}

div#footer {
	height: 30px;
	margin: auto;
}