body {
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
}

a {
	color: #444444;
	text-decoration: none;
}

a:hover {
	color: #AAAAAA;
}

div#main {
	position: relative;
	width: 700px;
	height: 600px;
	margin: auto;
}

div#title {
	font-size: 18pt;

}

div#series_chart_div {
	width: 1100px;
	height: 600px;
	margin: auto;
	border: 1px solid black;
}