body {
	margin: 0px;
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #FFFFFF;
}

a {
	color: #444444;
	text-decoration: none;
}

a:hover {
	color: #AAAAAA;
}

div#main {
}

div#teamslogo {
	display: none;
	text-align: center;
	height: 100px;
	padding: 20px;
	background: #FFFFFF;
	font-size: 24px;
	vertical-align: middle;
}

div#teamslogo span {
	display: none;
	margin-left: 20px;
	margin-right: 20px;
}


div#teamslogo img {
	display: none;
	height: 100px;
	vertical-align: middle;
}

div#title {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20pt;
	color: #000000;
	height: 35px;
	background: #EEEEFF;
}

div#container_section_header {
	background: #00aced;
	color: #FFFFFF;
	height: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

div#sectitle {
	font-size: 16pt;
	margin-bottom: 5px;
	color: #FFFFFF;
}

div#secdesc {
	font-size: 12pt;
	font-style: italic;
	color: #444444;
	margin-bottom: 5px;
}

div.loading {
	text-align: center;
}

div#container_section {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

div#series_chart_div {
	width: 1100px;
	height: 400px;
	margin: auto;
}

div#top_tweets_left {
	display: inline-block;
	width: 50%;
}

div#top_tweets_right {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

div#footer {
	margin-top: 40px;
	margin-bottom: 20px;
	height: 30px;
	text-align: center;
	color: #AAAAAA;
}