extends layout

block content
  div#main
    div#title Sports Tweets Analyzer
    div#container_plot
      div#sectitle Plot
      div#secdesc Plots tweet sentiments across the time duration of a sporting event
      div#series_chart_div
    div#container_most_retweeted
      div#sectitle Most Retweets
      div#secdesc The most retweeted tweet


block scripts
  script(src="https://www.google.com/jsapi")
  script(src="/javascripts/socket.io.js")
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/client.js")
  script(async,src="//platform.twitter.com/widgets.js" charset="utf-8")
