extends layout

block content
  div#title Tweets Analyzer
  div#series_chart_div

block scripts
  script(src="https://www.google.com/jsapi")
  script(src="/javascripts/socket.io.js")
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/client.js")
