extends layout

block content
  div#main
    div#title Sports+Twitter
      div#secdesc A Twitter analyzer app for sporting events
    div#teamslogo
      img(src="/images/rcb.png" alt="Royal Challengers Bangalore")
      span vs.
      img(src="/images/kkr.png" alt="Kolkata Night Riders")
    div#container_plot
      div#container_section_header
        div#sectitle Sentiment Plot
        div#secdesc Plots tweet sentiments across the time duration of the event
      div#container_section
        div#plot_loading.loading
          img(src="/images/382.GIF", style="width: 50px")
        div#plot_content
          | The bubble chart below shows an approximate progression of the sentiments
          | observed from the tweets made during the sporting event.
          | The x-axis is the time axis, where a unit corresponds to a single minute.
          | The y-axis shows the sentiments extracted from the tweets as a value. Positive 
          | values on the y-axis indicate positive sentiments. Similarly, negative values
          | correspond to negative sentiments.
          | So a single bubble in the chart represents a measure of the
          | cumulative sentiments obtained from several tweets in the given minute.
          div#series_chart_div
    div#container_most_retweeted
      div#container_section_header
        div#sectitle Most Retweets
        div#secdesc Tweets with the most number of retweets
      div#container_section
        div#top_tweets_loading.loading
          img(src="/images/382.GIF", style="width: 50px")
        div#top_tweets_left
        div#top_tweets_right
    div#container_geo
      div#container_section_header
        div#sectitle Geographic Distribution
        div#secdesc Plots the locations of the tweets on a map. Only shown for tweets having embedded geo-location data.
      div#container_section
        div#geo_loading.loading
          img(src="/images/382.GIF", style="width: 50px")
        div#geo_content
          div(style="text-align:center; margin-bottom: 5px")
            img(src="http://icons.iconarchive.com/icons/icons-land/vista-map-markers/16/Map-Marker-Push-Pin-2-Right-Azure-icon.png")
            |  RCB
            | 
            img(src="http://icons.iconarchive.com/icons/icons-land/vista-map-markers/16/Map-Marker-Push-Pin-2-Right-Pink-icon.png")
            |  KKR
          div#regions_div
    div#footer
      | Twitter Analyzer
      br
      | CSC 591 Advanced Algorithms, Fall '15
      
block scripts
  script(src="https://www.google.com/jsapi")
  script(src="/javascripts/socket.io.js")
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/client.js")
  script(async,defer,src="//platform.twitter.com/widgets.js" charset="utf-8")
